header{
    display: flex;
    padding:0.8rem;
    border-radius: .5rem;
    background-image: linear-gradient(120deg,purple,black);
    justify-content: space-between;
}
#myName{
    margin-top: 0%;
}
#navlinks *{
display: flex;
justify-content: space-between;
}