html,body{
    background-color: #0f0f0f;
    margin:1.5rem;
    padding:1.1rem;
    color:wheat
}
a{
    color:white;
    padding: 1rem;
    
}
a:hover{
    color:purple;
    background-color: black;
}